:root {
  --elegant: #212121;
  --glossy-white: #fffdfa;
  --d-blue: #143f59;
}

body {
  font-family: Open Sans, sans-serif;
  color: var(--glossy-white);
  background-color: var(--elegant);
  padding: 8px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  color: var(--glossy-white);
  background-color: var(--d-blue);
}

.container-story-connect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
  align-self: auto;
}

h4 {
  font-size: 1em;
  margin-block-start: 5 em;
  margin-block-end: 5 em;
  margin-inline-start: 3em;
  margin-inline-end: 3em;
  font-weight: bold;
  align-self: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 100%;
  list-style: none;
  align-items: center;
}

nav a {
  color: var(--glossy-white);
  font-weight: bold;
  display: inline;
  text-decoration: none;
  margin-right: 30px;
  align-items: flex-start;
}

.plain-link {
  color: var(--glossy-white);
  font-weight: normal;
  display: inline;
  text-decoration: none;
  align-items: flex-start;
  font-size: small;
}

img.profile {
  float: left;
  margin-right: 10px;
  border-radius: 30%;
  padding: 20px;
  max-width: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: left;
  padding: auto;
}

.flex-projects {
  display: flex;
  flex: 12;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

.flex-row-other-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: auto;
  font-size: smaller;
  min-height: 175px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-row-big {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border: 1.5 em;
}

img.project-big {
  margin-right: 10px;
  border-radius: 10%;
  padding: 6px;
  max-height: 300px;
}

img.project {
  float: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 30%;
  padding: 6px;
  max-width: 175px;
  max-height: 175px;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background: var(--d-blue);
  color: var(--glossy-white);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  font-size: xx-small;
}
